*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(342.86deg 14.29% 61.57%);
    padding: 40px 40px;
}

#main2{
    height: 90%;
    width: 90%;
    display: flex;
    /* margin: 20px 20px 20px 20px; */
    /* margin: 20px; */
    background-color: hsl(346.15deg 16.88% 69.8%);
}

#overlay{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 85%;
    /* background-color: red; */
}

#overlay h1{
    font-size: 30px;
    font-weight: 900px;
    font-family: monument;
    color: transparent;
    letter-spacing: 2px;
    transform: rotate(90deg);
    transform-origin: 0%;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

#part1{
    height: 100%;
    width: 20%;
    position: relative;
    display: flex;
    /* background-color: red; */
}
#text{
    /* width: 100%; */
    margin: 150px 150px;
    position: absolute;
    /* background-color: red; */
}

#text>h1{
    height: 60%;
    width: 100%;
    line-height: 45px;
    margin: 40px 5px;
    padding: 10px 10px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    font-size: 60px;
    font-family: monument;
    /* background-color: red; */
}


#part2-img{
     height: 100%;
     width: 70%;
     position: relative;
     /* background-color: blue; */
     background-image: url(4-img.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     /* filter: blur(2.5px); */
}


#part2-img2{
    height: 300px;
    width: 300px;
    margin: 100px 50px 200px 535px;
    /* background-color: red; */
    background-image: url(3-img.jpg);
    background-size: cover;
    background-position: center;
    /* filter: blur(0.8px); */
}

#part3{
     height: 100%;
     width: 10%;
     /* background-color: green; */
}

#nav{
    width: 350px;
    height: 150px;
    margin: 10px 200px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

#nav img{
    width: 80px;
    height: 80px;
    margin: 20px 20px;
    filter: blur(1px);
    fill-opacity: 0;
}

#nav h5{
    align-content: center;
    color: white;
    font-weight: 900;
    font-size: 15px;
    filter: blur(1px);
}









